* {
    padding: 0;
    height: 0;
    box-sizing: border-box;
   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}